

body {margin:0;}

.meniu {
  overflow: hidden;
  background-color: #9966ff;
  
  top: 0;
  width: 100%;
}

.meniu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.meniu a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 20px;
  margin-top: 50px;
  height: 1500px; /* Used in this example to enable scrolling */
}


