* {
  box-sizing: border-box;
}

.column1 {
  float: left;
  width: 70%;
  padding: 20px;
   
}

.column2 {
  float: left;
  width: 30%;
  padding: 20px;
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
  }
  .column2 {
    width: 100%;
  }
}